* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 40px;
    max-width: 800px;
    width: 80%;
}

#titleScreen {
    text-align: center;
    margin: auto;
    position: relative;
    animation-name: title-slide-out;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-duration: 0.40s;
    animation-play-state: paused;
}

#questionBlock {
    display: none;
    text-align: left;
    margin: left;
    position: relative;
}

#endGameBlock {
    display: none;
    text-align: center;
    margin: auto;
    position: relative;
}

#answerResult {
    display: none;
    position: fixed;
    color: darkgray;
    font-style: italic;
    font-size: 18pt;
}

#showScore {
    line-height: 0.8;
    margin-bottom: 20px;
    font-size: 8em;
    font-weight: bolder;
}

#alertBox {
    margin: auto;
    margin-top: 15px;
    max-width: 400px;
}

h1, h2 {
    font-weight: bolder;
    margin-bottom: 30px;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:active {
    color: #800080;
}

.scoreAltColour {
    background-color: rgb(249, 182, 255);
}

.scoreStyle {
    padding: 3px 3px 3px 10px;
    font-size: 16pt;
}

.btn-primary {
    background: #af00af;
    border-color: #af00af;
}

.btn-primary:hover {
    background-color: #da45da;
    border-color: #da45da;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background: #800080;
    border-color: #800080;
}

.btnOption {
    display: block;
    margin-bottom: 5px;
}

/* Animation styles */
.answerSlideUp {
    animation-name: answer-slide-up;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-duration: 0.30s;
}

.slideUp {
    animation-name: slide-up;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.50s;
}

.slideDown {
    animation-name: slide-down;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.70s;
}

.questionFadeOut {
    animation-name: quiz-fade-out;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.30s;
}

.questionFadeIn {
    animation-name: quiz-fade-in;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.30s;
}

.fadeInOut {
    animation-name: fade-in-out;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 1.00s;
}

.fadeAway {
    animation-name: fade-away;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.30s;
}

@keyframes title-slide-out {
    0% {
        bottom: 0;
        opacity: 1;
    }
    100% {
        bottom: 300px;
        opacity: 0;
    }
}

@keyframes answer-slide-up {
    0% {
        bottom: 30%;
        opacity: 0;
    }
    100% {
        bottom: 50%;
        opacity: 1;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-away {
    0% {
        bottom: 50%;
        opacity: 1;
    }
    100% {
        bottom: 50%;
        opacity: 0;
    }
}

@keyframes slide-up {
    0% {
        top: 200px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        bottom: 100px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes quiz-fade-out {
    0% {
        right: 0;
        opacity: 1;
    }
    100% {
        right: 200px;
        opacity: 0;
    }
}

@keyframes quiz-fade-in {
    0% {
        left: 200px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@media (max-width: 767px) {
    @keyframes answer-slide-up {
        0% {
            bottom: 0;
            opacity: 0;
        }
        100% {
            bottom: 20%;
            opacity: 1;
        }
    }
    
    @keyframes fade-away {
        0% {
            bottom: 20%;
            opacity: 1;
        }
        100% {
            bottom: 20%;
            opacity: 0;
        }
    }
}