* {
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 40px;
    max-width: 800px;
    width: 80%;
}

#titleScreen {
    text-align: center;
    margin: auto;
    position: relative;
    animation-name: title-slide-out;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-duration: 0.40s;
    animation-play-state: paused;
}

#questionBlock {
    display: none;
    text-align: left;
    margin: left;
    position: relative;
}

#endGameBlock {
    display: none;
    text-align: center;
    margin: auto;
    position: relative;
}

h1, h2 {
    font-weight: bolder;
    margin-bottom: 30px;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:active {
    color: #800080;
}

.btn-primary {
    background: #af00af;
    border-color: #af00af;
}

.btn-primary:hover {
    background-color: #da45da;
    border-color: #da45da;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background: #800080;
    border-color: #800080;
}

.btnOption {
    display: block;
    margin-bottom: 5px;
}

/* Animation styles */
.slideUp {
    animation-name: slide-up;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.50s;
}

.slideDown {
    animation-name: slide-down;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-duration: 0.70s;
}

.questionFadeOut {
    animation-name: quiz-fade-out;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.30s;
}

.questionFadeIn {
    animation-name: quiz-fade-in;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.30s;
}

@keyframes title-slide-out {
    0% {
        bottom: 0;
        opacity: 1;
    }
    100% {
        bottom: 300px;
        opacity: 0;
    }
}

@keyframes slide-up {
    0% {
        top: 200px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        bottom: 100px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes quiz-fade-out {
    0% {
        right: 0;
        opacity: 1;
    }
    100% {
        right: 200px;
        opacity: 0;
    }
}

@keyframes quiz-fade-in {
    0% {
        left: 200px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}